{% load static %}

<footer>
    <div class="row justify-content-md-center footer-h">
        <div class="footer-el col-sm d-flex justify-content-around">
            <div class="footer-el-h d-flex flex-column mb-3">
                <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                    <img class="header-logo" src="{% static 'main/img/logo.png' %}" alt="" height="60px">
                </a>
                <p class="text-logo"> FIREFLY YKT предоставляет вам<br>дроны, необходимые для<br>мониторинга действительных лесных<br>пожаров.</p>
                <a href="#">
                    <img src="{% static 'main/img/telegramlogo.png' %}">
                    Telegram
                </a>
            </div>
            <div class="footer-el-h d-flex flex-column mb-3">
                <span class="footer-title fw-bold">Компания</span>
                <a href="{% url 'main:about' %}">О нас</a>
                <a href="{% url 'main:jobs' %}">Вакансии</a>
            </div>
            <div class="footer-el-h d-flex flex-column mb-3">
                <span class="footer-title fw-bold">Помощь</span>
                <a href="https://t.me/rlycluster">Тех.Поддержка</a>
                <a href="https://t.me/yarrichelli">Условия пользования</a>
                <a href="#">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>