{% load static %}

<header>
    <img class="logo" src="{% static 'main/img/logo.svg' %}" alt="logo" />
    <nav>
        <ul class="nav-links">
            <li class="li-nav-btns"> <a class="nav-btn-home" href="#"> Главная </a></li>
            <li class="li-nav-btns"> <a class="nav-btn-map" href="#"> Карта </a></li>
            <li class="li-nav-btns"> <a class="nav-btn-jobs" nav-btn href="#"> Вакансии </a></li>
            <li class="li-nav-btns"> <a class="nav-btn-aboutus" href="#"> О нас </a></li>
        </ul>
        <a class="login" href="#"> <button class="btn-login" > Авторизация </button> </a>
    </nav>
</header>
