{% load static %}

<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #fff;" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://127.0.0.1:8000/">
                <img class="header-logo" src="{% static 'main/img/logo.png' %}" alt="" height="60px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link header-btn" href="http://127.0.0.1:8000/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-btn" href="#">Карта</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-btn" href="http://127.0.0.1:8000/jobs/">Вакансии</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-btn" href="http://127.0.0.1:8000/about/">О нас</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <button class="btn btn-outline-dark btn-login" type="submit">Авторизация</button>
                </div>
            </div>
        </div>
    </nav>
</header>
