{% extends "main/layout.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block body %}
    <main>
        <div class="trt1 container">
            <div class="row">
                <div class="col-sm left">
                    <h1 class="fw-bold col-sm trt1-title">Мониторинг<br>лесных<br>пожаров</h1>
                    <p>Наши дроны помогут вам отслеживать лесные<br>пожары без выезда на точку </p>
                    <form class="d-flex search-label" role="search">
                        <input class="form-control" type="search" placeholder="Район / улус" aria-label="Search">
                        <button class="btn btn-outline-dark btn-search" type="submit">Поиск</button>
                    </form>
                </div>
                <img class="col-sm img-forest" src="{% static 'main/img/forest.png' %}">
            </div>
        </div>
        <div class="trt2 container">
            <h1 class="fw-bold trt-title">Статистика за 2022 год</h1>
            <div class="row">
                <img class="col-sm img-yakutia" src="{% static 'main/img/yakutia.png' %}">
                <div class="col-sm right">
                    <img style="margin-bottom: 20px;" src="{% static 'main/img/result1.png' %}" alt="result1.png">
                    <img style="margin-bottom: 20px;" src="{% static 'main/img/result2.png' %}" alt="result1.png">
                    <img style="margin-bottom: 20px;" src="{% static 'main/img/result3.png' %}" alt="result1.png">
                    <img style="margin-bottom: 20px;" src="{% static 'main/img/result4.png' %}" alt="result1.png">
                </div>
            </div>
        </div>
        <div class="trt3 container">
            <h1 class="fw-bold trt-title">Вероятность пожара</h1>
            <div class="row">
                <img class="col-sm img-pozhar" src="{% static 'main/img/pozhar.png' %}">
                <div class="col-sm">
                        <img style="width: 100%; margin-bottom: 30px;" src="{% static 'main/img/redgroup.png' %}" alt="redgroup">
                        <img style="width: 100%;" src="{% static 'main/img/orangegroup.png' %}" alt="orangegroup.png">
                </div>
            </div>
        </div>
    </main>
{% endblock %}