@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

header{
	padding: 15px 6%;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	margin-bottom: 20px;
}

.header-btn{
	margin: auto 10px;
	transition: color 0.3s ease, transform 0.3s ease;
	will-change: transform;
	color: #18181B;
}

.header-btn:hover{
	color: #CC1F00;
	transform: scale(1.125);
}

.header-logo{
	align-self: center;
	justify-self: center;
}

.navbar-brand{
	margin-right: 3%;
}

.btn-login{
	padding: 10px 40px;
	border-radius: 13px;
}

.trt1-title{
	margin-bottom: 20px;
}

.left{
	align-self: center;
}

.img-forest{
	max-width: 600px;
}

.search-label{
	max-width: fit-content;
}

.btn-search{
	margin-left: 10px;
}

.trt2{
	margin-top: 60px;
}

.trt-title{
	margin-bottom: 60px;
}

.img-yakutia{
	max-width: 550px;
}

.img-pozhar{
	max-width: 700px;
}

.right{
	margin-left: 40px;
	align-self: center;
}

.trt3{
	margin-top: 80px;
	margin-bottom: 40px;
}

.trt3-title{
	margin-bottom: 60px;
}

.trt3-end{
	margin-bottom: 40px;
}

.f-text-n-logo {
	padding: 0px 80px;
	width: 25%;
}

.telegram-logo {
	width: 12%;
}

.map-title{
	margin-bottom: 60px;
}

.map-stats{
	margin-bottom: 60px;
}

.map-stats-img{
	max-width: 400px;
}

.map-stats-text{
	text-align: center;
}