.title{
    margin: 30px 0px;
    text-align: center;
}

.uav-trt-title{
    margin-bottom: 20px;
    text-align: center;
}

.uav-img{
    max-width: 300px;
}

.uav-name{
    align-self: center;
    margin: 0px 20px;
}