.title{
    margin: 30px 0px;
    text-align: center;
}

.uav-trt-title{
    margin-bottom: 20px;
    text-align: center;
}

.uav-img{
    width: 20%;
    height: 100%;
}

.uav-name{
    align-self: center;
    margin: 0px 2%;
    margin-right: auto;
}

.uav-card{
    border: solid 1px #000;
    padding: 20px 10px;
}

.uav-trt{
    border: solid 1px #000;
    padding: 10px 10px;
    margin-bottom: 40px;
}

.uav-static-info{
    margin-right: 40px;
}

.map{
    margin-bottom: 40px;
}

.marker-card{
    border: solid 1px #000;
    padding: 20px 10px;
}

.markers-trt{
    border: solid 1px #000;
    padding: 10px 10px;
    margin-bottom: 40px;
}

.mark-name{
    margin-right: 2%;
}